# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

ProfilerOBJ.exe
CLRProfiler.exe
CLRProfilerControl.dll

vshost32.pdb/*

EquationFinder/obj/*
EquationFinder/bin/*

EquationFinderCore/obj/*
EquationFinderCore/bin/*

Clients/EquationFinder_GUI/obj/*
Clients/EquationFinder_GUI/bin/*

Clients/EquationFinder_Console/obj/*
Clients/EquationFinder_Console/bin/*

EquationFactories/AlgebraicTuple/obj/*
EquationFactories/AlgebraicTuple/bin/*

EquationFactories/AlgebraicString/obj/*
EquationFactories/AlgebraicString/bin/*

EquationFactories/AlgebraicExpression/obj/*
EquationFactories/AlgebraicExpression/bin/*

EquationFactories/AlgebraicSolver/obj/*
EquationFactories/AlgebraicSolver/bin/*

*.suo
*.pdb
*.cache
*.vhost.*
*.FileListAbsolute.txt
/ProfilerOBJ.dll
*.user
/.vs/