<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>

    <add key="File.Output" value="output.txt"/>

    <add key="Equations.Goal" value="27"/>
 <!--add key="Equations.Factory"      value="AlgebraicTuple"/-->

    <add key="Term.Pool" value="0123456789"/>
    <add key="Operand.Pool" value="+-*"/>
    <add key="Operations.Quantity" value="9"/>

    <add key="Round.Threads" value="5"/>
    <add key="Round.Quantity" value="5"/>
    <add key="Round.TimeToLive" value="6"/>

  </appSettings>

</configuration>
