<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>

    <add key="File.Output" value="output.txt"/>

    <add key="Equations.Goal" value="20"/>
 <!--add key="Equations.Factory"      value="AlgebraicTuple"/-->

    <add key="Term.Pool" value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20"/>
    <add key="Operand.Pool" value="+"/>
    <add key="Operations.Quantity" value="4"/>

    <add key="Round.Threads" value="2"/>
    <add key="Round.Quantity" value="10"/>
    <add key="Round.TimeToLive" value="10"/>

  </appSettings>

</configuration>
